@charset "UTF-8";

@font-face {
  font-family: "linea-ecommerce-10";
  src: url("fonts/linea-ecommerce-10.eot");
  src: url("fonts/linea-ecommerce-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-ecommerce-10.woff") format("woff"),
    url("fonts/linea-ecommerce-10.ttf") format("truetype"),
    url("fonts/linea-ecommerce-10.svg#linea-ecommerce-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea-ecommerce-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-ecommerce"]:before,
[class*=" icon-ecommerce"]:before {
  font-family: "linea-ecommerce-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-basic"]:before,
[class*=" icon-basic"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-clubs:before {
  content: "A";
}

.icon-basic-share:before {
  content: "\e006";
}

.icon-ecommerce-bag:before {
  content: "a";
}
.icon-ecommerce-bag-check:before {
  content: "b";
}
.icon-ecommerce-bag-cloud:before {
  content: "c";
}
.icon-ecommerce-bag-download:before {
  content: "d";
}
.icon-ecommerce-bag-minus:before {
  content: "e";
}
.icon-ecommerce-bag-plus:before {
  content: "f";
}
.icon-ecommerce-bag-refresh:before {
  content: "g";
}
.icon-ecommerce-bag-remove:before {
  content: "h";
}
.icon-ecommerce-bag-search:before {
  content: "i";
}
.icon-ecommerce-bag-upload:before {
  content: "j";
}
.icon-ecommerce-banknote:before {
  content: "k";
}
.icon-ecommerce-banknotes:before {
  content: "l";
}
.icon-ecommerce-basket:before {
  content: "m";
}
.icon-ecommerce-basket-check:before {
  content: "n";
}
.icon-ecommerce-basket-cloud:before {
  content: "o";
}
.icon-ecommerce-basket-download:before {
  content: "p";
}
.icon-ecommerce-basket-minus:before {
  content: "q";
}
.icon-ecommerce-basket-plus:before {
  content: "r";
}
.icon-ecommerce-basket-refresh:before {
  content: "s";
}
.icon-ecommerce-basket-remove:before {
  content: "t";
}
.icon-ecommerce-basket-search:before {
  content: "u";
}
.icon-ecommerce-basket-upload:before {
  content: "v";
}
.icon-ecommerce-bath:before {
  content: "w";
}
.icon-ecommerce-cart:before {
  content: "x";
}
.icon-ecommerce-cart-check:before {
  content: "y";
}
.icon-ecommerce-cart-cloud:before {
  content: "z";
}
.icon-ecommerce-cart-content:before {
  content: "A";
}
.icon-ecommerce-cart-download:before {
  content: "B";
}
.icon-ecommerce-cart-minus:before {
  content: "C";
}
.icon-ecommerce-cart-plus:before {
  content: "D";
}
.icon-ecommerce-cart-refresh:before {
  content: "E";
}
.icon-ecommerce-cart-remove:before {
  content: "F";
}
.icon-ecommerce-cart-search:before {
  content: "G";
}
.icon-ecommerce-cart-upload:before {
  content: "H";
}
.icon-ecommerce-cent:before {
  content: "I";
}
.icon-ecommerce-colon:before {
  content: "J";
}
.icon-ecommerce-creditcard:before {
  content: "K";
}
.icon-ecommerce-diamond:before {
  content: "L";
}
.icon-ecommerce-dollar:before {
  content: "M";
}
.icon-ecommerce-euro:before {
  content: "N";
}
.icon-ecommerce-franc:before {
  content: "O";
}
.icon-ecommerce-gift:before {
  content: "P";
}
.icon-ecommerce-graph1:before {
  content: "Q";
}
.icon-ecommerce-graph2:before {
  content: "R";
}
.icon-ecommerce-graph3:before {
  content: "S";
}
.icon-ecommerce-graph-decrease:before {
  content: "T";
}
.icon-ecommerce-graph-increase:before {
  content: "U";
}
.icon-ecommerce-guarani:before {
  content: "V";
}
.icon-ecommerce-kips:before {
  content: "W";
}
.icon-ecommerce-lira:before {
  content: "X";
}
.icon-ecommerce-megaphone:before {
  content: "Y";
}
.icon-ecommerce-money:before {
  content: "Z";
}
.icon-ecommerce-naira:before {
  content: "0";
}
.icon-ecommerce-pesos:before {
  content: "1";
}
.icon-ecommerce-pound:before {
  content: "2";
}
.icon-ecommerce-receipt:before {
  content: "3";
}
.icon-ecommerce-receipt-bath:before {
  content: "4";
}
.icon-ecommerce-receipt-cent:before {
  content: "5";
}
.icon-ecommerce-receipt-dollar:before {
  content: "6";
}
.icon-ecommerce-receipt-euro:before {
  content: "7";
}
.icon-ecommerce-receipt-franc:before {
  content: "8";
}
.icon-ecommerce-receipt-guarani:before {
  content: "9";
}
.icon-ecommerce-receipt-kips:before {
  content: "!";
}
.icon-ecommerce-receipt-lira:before {
  content: '"';
}
.icon-ecommerce-receipt-naira:before {
  content: "#";
}
.icon-ecommerce-receipt-pesos:before {
  content: "$";
}
.icon-ecommerce-receipt-pound:before {
  content: "%";
}
.icon-ecommerce-receipt-rublo:before {
  content: "&";
}
.icon-ecommerce-receipt-rupee:before {
  content: "'";
}
.icon-ecommerce-receipt-tugrik:before {
  content: "(";
}
.icon-ecommerce-receipt-won:before {
  content: ")";
}
.icon-ecommerce-receipt-yen:before {
  content: "*";
}
.icon-ecommerce-receipt-yen2:before {
  content: "+";
}
.icon-ecommerce-recept-colon:before {
  content: ",";
}
.icon-ecommerce-rublo:before {
  content: "-";
}
.icon-ecommerce-rupee:before {
  content: ".";
}
.icon-ecommerce-safe:before {
  content: "/";
}
.icon-ecommerce-sale:before {
  content: ":";
}
.icon-ecommerce-sales:before {
  content: ";";
}
.icon-ecommerce-ticket:before {
  content: "<";
}
.icon-ecommerce-tugriks:before {
  content: "=";
}
.icon-ecommerce-wallet:before {
  content: ">";
}
.icon-ecommerce-won:before {
  content: "?";
}
.icon-ecommerce-yen:before {
  content: "@";
}
.icon-ecommerce-yen2:before {
  content: "[";
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: '"';
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-MediumItalic.eot');
    src: local('GothamSSm Medium Italic'), local('GothamSSm-MediumItalic'),
        url('GothamSSm-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-MediumItalic.woff2') format('woff2'),
        url('GothamSSm-MediumItalic.woff') format('woff'),
        url('GothamSSm-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Book.eot');
    src: local('GothamSSm Book'), local('GothamSSm-Book'),
        url('GothamSSm-Book.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-Book.woff2') format('woff2'),
        url('GothamSSm-Book.woff') format('woff'),
        url('GothamSSm-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-XLight.eot');
    src: local('GothamSSm ExtraLight'), local('GothamSSm-XLight'),
        url('GothamSSm-XLight.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-XLight.woff2') format('woff2'),
        url('GothamSSm-XLight.woff') format('woff'),
        url('GothamSSm-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-LightItalic.eot');
    src: local('GothamSSm Light Italic'), local('GothamSSm-LightItalic'),
        url('GothamSSm-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-LightItalic.woff2') format('woff2'),
        url('GothamSSm-LightItalic.woff') format('woff'),
        url('GothamSSm-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Medium.eot');
    src: local('GothamSSm Medium'), local('GothamSSm-Medium'),
        url('GothamSSm-Medium.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-Medium.woff2') format('woff2'),
        url('GothamSSm-Medium.woff') format('woff'),
        url('GothamSSm-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-BookItalic.eot');
    src: local('GothamSSm Book Italic'), local('GothamSSm-BookItalic'),
        url('GothamSSm-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-BookItalic.woff2') format('woff2'),
        url('GothamSSm-BookItalic.woff') format('woff'),
        url('GothamSSm-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Black.eot');
    src: local('GothamSSm Black'), local('GothamSSm-Black'),
        url('GothamSSm-Black.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-Black.woff2') format('woff2'),
        url('GothamSSm-Black.woff') format('woff'),
        url('GothamSSm-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-BlackItalic.eot');
    src: local('GothamSSm Black Italic'), local('GothamSSm-BlackItalic'),
        url('GothamSSm-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-BlackItalic.woff2') format('woff2'),
        url('GothamSSm-BlackItalic.woff') format('woff'),
        url('GothamSSm-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-XLightItalic.eot');
    src: local('GothamSSm ExtraLight Italic'), local('GothamSSm-XLightItalic'),
        url('GothamSSm-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-XLightItalic.woff2') format('woff2'),
        url('GothamSSm-XLightItalic.woff') format('woff'),
        url('GothamSSm-XLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Light.eot');
    src: local('GothamSSm Light'), local('GothamSSm-Light'),
        url('GothamSSm-Light.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-Light.woff2') format('woff2'),
        url('GothamSSm-Light.woff') format('woff'),
        url('GothamSSm-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-Bold.eot');
    src: local('GothamSSm Bold'), local('GothamSSm-Bold'),
        url('GothamSSm-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-Bold.woff2') format('woff2'),
        url('GothamSSm-Bold.woff') format('woff'),
        url('GothamSSm-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: url('GothamSSm-BoldItalic.eot');
    src: local('GothamSSm Bold Italic'), local('GothamSSm-BoldItalic'),
        url('GothamSSm-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GothamSSm-BoldItalic.woff2') format('woff2'),
        url('GothamSSm-BoldItalic.woff') format('woff'),
        url('GothamSSm-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: garogier;
  src: url(fonts/garogier.ttf); }

@font-face {
  font-family: cormorant_infant_light;
  src: url(fonts/cormorantinfant-light.otf); }

body {
  font-family: "GothamSSm";
  font-weight: normal;
  box-sizing: border-box;
  line-height: 1.6; }

.container {
  display: flex;
  flex-direction: column; }

.Company_Name {
  display: block;
  font-size: 4rem;
  font-family: garogier;
  font-weight: 500;
  line-height: 1; }
  .Company_Name sup {
    font-size: 1.2rem; }

.heading-2 {
  font-weight: 500; }

.header {
  background-color: white;
  color: #021a27;
  flex: 8rem 1 1;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between; }

.search {
  flex: 0 0 40%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 36em) {
    .search {
      order: 1;
      flex: 0 0 80%;
      justify-content: flex-end; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f3f1f1;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f3f1f1; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: gray; }
  .search__input:focus + .search__button {
    color: gray; }
  .search__button {
    border: none;
    background-color: #f3f1f1; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    font-size: 1.8rem;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    display: inline-block; }

.main-container {
  background-color: #d9d9d9;
  padding: 1rem;
  display: grid;
  grid-template-columns: [sidebar-start] 20rem [sidebar-end] 1rem [stories-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [stories-end] 1rem [side-end]; }
  @media only screen and (max-width: 56.25em) {
    .main-container {
      grid-template-columns: [sidebar-start] 2rem [sidebar-end stories-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [stories-end] 2rem [side-end]; } }

.sidebar {
  grid-column: sidebar-start/side-end; }

.content {
  grid-column: stories-start/stories-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem; }

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 3.5rem 0.1rem rgba(0, 0, 0, 0.1); }

.product__Bg {
  width: 100%;
  background-image: linear-gradient(to right, #ebff00, #00ff87); }

.prod__img {
  max-width: 100%;
  height: auto; }

.prod__info {
  background-color: #fff;
  width: 100%;
  z-index: 1;
  padding: 1.2rem; }
  .prod__info--1 {
    padding: 0 0 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .prod__info--2 {
    padding: 1rem 0;
    max-height: 11.8rem;
    overflow: hidden; }
    .prod__info--2 .text {
      color: #555;
      font-size: 1.3rem; }
    .prod__info--2 .chat {
      float: right; }

.prod__title {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: #333;
  line-height: 1; }

.price,
.chat {
  background: rgba(2, 25, 37, 0.9);
  text-transform: uppercase;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s; }
  .price:hover,
  .chat:hover {
    letter-spacing: 1px; }

.prod__info--1,
.prod__info--2 {
  border-bottom: 1px solid #dadada; }

.side-menu {
  z-index: 10;
  position: absolute;
  left: 10px;
  width: 18rem;
  background: rgba(1, 16, 24, 0.9);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 900px) {
    .side-menu {
      left: -250px; } }
  .side-menu__title {
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgba(2, 25, 37, 0.8);
    user-select: none; }
  .side-menu__icon {
    font-size: 2.5rem;
    padding-right: 0.8rem;
    display: inline-block;
    transform: translateY(0.6rem);
    background-image: linear-gradient(to right, #34be1c, #38c495);
    -webkit-background-clip: text;
    color: transparent; }

.side-menu ul a {
  list-style: none;
  text-decoration: none;
  display: block;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  line-height: 5rem;
  padding-left: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  color: #cccccc; }

.side-menu ul li:hover a {
  padding-left: 3rem; }

.navigation #navi-toggle:checked ~ .side-menu {
  left: 10px; }

#navi-toggle:checked ~ .navigation__button {
  left: 15rem; }

.navigation__checkbox {
  display: none;
  font-size: 1.4rem; }

.navigation__button {
  font-size: 1.2rem;
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 0.8rem;
  left: 0.3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  display: none; }
  @media only screen and (max-width: 900px) {
    .navigation__button {
      display: block; } }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.4rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.9rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.9rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  background: rgba(1, 16, 24, 0.99);
  color: white;
  font-size: 1.5rem;
  flex: 20rem 1 1;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .footer__tel span {
    display: block; }

.emblem {
  border: dashed;
  border-width: thin;
  border-radius: 100%;
  inline-size: 15rem;
  block-size: 15rem;
  bottom: auto;
  left: auto;
  position: relative; }
  .emblem__line {
    border: dashed;
    border-width: thin;
    border-radius: 100%;
    inline-size: 10rem;
    block-size: 10rem;
    bottom: 15%;
    left: 15%;
    position: absolute; }
    .emblem__line .dot {
      line-height: 0;
      position: absolute;
      font-size: 4rem;
      bottom: 56%;
      left: 46%;
      display: flex;
      flex-direction: column; }
      .emblem__line .dot::before {
        content: "";
        height: 7rem;
        width: 2px;
        margin-left: 0.5rem;
        display: block;
        background-image: linear-gradient(to right, #ebff00, #00ff87);
        transform: translateY(6px); }
